* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 16px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif;
}

button {
  margin-left: 8px;
}
